.App {
  font-family: sans-serif;
  text-align: center;
}
html,
body {
  box-sizing: border-box;
}
.header,
.news-wrapper {
  display: flex;
  width: 100%;
  padding: 5px;
  justify-content: space-between;
  background-color: #f6f6ef;
  text-align: left;
  line-height: 1rem;
}
.header {
  background-color: #ff742b;
  color: #ffffff;
  font-size: 0.75rem;
}
.news-wrapper:nth-child(even) {
  background-color: #e1e1e1;
}
.com-col {
  width: 5%;
}
.vote-col {
  width: 5%;
}
.upvote-col {
  width: 5%;
  position: relative;
}
.news-wrapper .upvote-col::after {
  content: " ";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 54%;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  transform: translate(-50%, -50%) rotate(230deg);
}
.news-col {
  width: 80%;
  text-align: left;
}
.news-wrapper .news-col {
  color: #828282;
  font-size: 0.55rem;
}
.news-col a {
  text-decoration: none;
  color: #828282;
}
.footer {
  padding: 1.5rem;
  margin-bottom: 10px;
  text-align: right;
  color: #ff742b;
  border-bottom: 2px solid #ff742b;
}
.pagination-bt {
  cursor: pointer;
  font-size: 0.75rem;
  border: none;
  background-color: inherit;
  color: #ff742b;
}
.author-text {
  font-size: 0.65rem;
  color: #000000;
}
.news-text {
  font-size: 0.95rem;
  color: #000000;
}
.hide-bt {
  border: none;
  cursor: pointer;
  background-color: inherit;
  font-size: 0.55rem;
}
.line-container {
  height: 400px;
}
.mobile-responsive-text {
  display: none;
}
@media only screen and (max-width: 550px) and (min-width: 300px) {
  .header,
  .news-wrapper {
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
  }
  .news-col {
    width: 100%;
  }
  .vote-col,
  .upvote-col,
  .com-col {
    width: auto;
    font-size: 0.65rem;
  }
  .mobile-responsive-text {
    display: inline;
  }
  .news-text {
    font-size: 0.75rem;
  }
}
